<ng-container *ngIf="day | async else dayNotSelected">
  <mat-card appearance="outlined"
            class="day-card">
    <mat-card-header>
      <mat-card-title>{{ (day | async)?.date | date : 'fullDate' }}</mat-card-title>
      <mat-card-subtitle *ngIf="(day | async)?.lessons?.length === 0">W tym dniu nie ma zajęć</mat-card-subtitle>

      <span class="spacer"></span>
      <button mat-icon-button (click)="onClickNavigateBefore()">
        <mat-icon>navigate_before</mat-icon>
      </button>
      <button mat-icon-button (click)="onClickNavigateNext()">
        <mat-icon>navigate_next</mat-icon>
      </button>
    </mat-card-header>
    <mat-card-content>
      <mat-divider></mat-divider>
      <mat-grid-list class="lesson-list"
                     gutterSize="20px"
                     cols="1"
                     rowHeight="10vh">

        <mat-grid-tile *ngFor="let lesson of (day | async)?.lessons"
                       [style.background]="lesson.color">
          <mat-grid-tile-header>
            {{ lesson.start | date : 'shortTime' }} - {{ lesson.end | date : 'shortTime' }}
          </mat-grid-tile-header>
          <mat-grid-tile-footer>
            {{ lesson.name }}
          </mat-grid-tile-footer>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>
  </mat-card>
</ng-container>

<ng-template #dayNotSelected>
  <mat-grid-list cols="1" rowHeight="3:1">
    <mat-grid-tile>
      <h2 matSubheader>Nie wybrano dnia</h2>
    </mat-grid-tile>
  </mat-grid-list>
</ng-template>

