<mat-toolbar color="primary" class="ma-0 pa-0">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Plan zajęć Politechniki Krakowskiej</span>
    <span class="spacer"></span>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
    <button mat-icon-button (click)="onSignOutClick()">
      <mat-icon>logout</mat-icon>
    </button>
</mat-toolbar>

<router-outlet></router-outlet>
