<ng-container>
  <mat-toolbar color="primary" class="ma-0 pa-0">
    <button mat-icon-button
            (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Plan zajęć Politechniki Krakowskiej</span>
    <span *ngIf="!!plan">, wersja z dnia {{ plan?.fileModifiedAt | date }}</span>
    <span class="spacer"></span>
    <button mat-icon-button disabled>
      <mat-icon>share</mat-icon>
    </button>
    <button mat-icon-button (click)="onSignOutClick()">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>

  <mat-drawer-container autosize [style.height]="'calc(100vh - 64px)'">
    <mat-drawer #drawer mode="side"
                [opened]="true"
                class="nav-drawer">

      <mat-accordion multi [displayMode]="'flat'">
        <mat-expansion-panel class="mat-elevation-z0">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Ustawienia
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-divider></mat-divider>
          <app-plan-settings></app-plan-settings>
        </mat-expansion-panel>

        <mat-expansion-panel class="mat-elevation-z0"
                             [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Zjazdy studenckie
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-divider></mat-divider>
          <app-day-nav></app-day-nav>
        </mat-expansion-panel>
      </mat-accordion>

    </mat-drawer>

    <router-outlet></router-outlet>
  </mat-drawer-container>
</ng-container>





